@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

.form-signin {
  border: none;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
  background-color: #fff;
  border-radius: 2px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  text-align: left;
  height: 50px;
  padding: 0 16px 0 52px;
  position: relative;
  transition: all 0.1s ease-in;
}

.form-signin:hover {
  cursor: pointer;
  background-color: #eee;
}

.form-signin img {
  position: absolute;
}

.form-signin#google-signin img {
  width: 20px;
  height: 20px;
  left: 16px;
  top: 15px;
}
