.logout {
  margin-top: 30px;
}

.logout::after, .logout::before {
  content: ' ';
  display: table;
  clear: both;
}

.logout-btn {
  float: right;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-family: 'Roboto', serif;
  text-transform: uppercase;
  padding: 8px 16px;

}

.logout-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.logout-btn:focus {
  outline: none;
}
