@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');

body {
  background-color: #2b3e51;
}

.App {
  text-align: center;
}

.App-headline {
  font-family: 'Aref Ruqaa', serif;
  font-size: 78px;
  font-weight: 400;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
